* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: "Noto Sans JP", sans-serif;
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */
.navbar {
    box-shadow: 10px 5px 5px lightgray;
}

.logo_img {
    width: 6rem;
    height: auto;
}

/* header */
h1 {
    color: hsl(177, 72%, 30%);
}

/* car section */

.card_size {
    width: 14rem;
    height: 17rem;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.card-img-top{
    /* border-radius: 10%; */
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

/* form */
form {
    background-color: lightgray;
}

/* contact */

.embed-responsive-item {
    width: 18rem;
    height: 16rem;
}